*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBECED
}

/* .container {
    width:1002px ;
    height: 1374px;
    background-color: #fff; } */
    

.box {
    width: 1002px;
    height: 400px;
    border-radius: 16px;
    background-color: #fff;
    margin-bottom: 110px;
    
    

}
.box1, .box2, .box3 {
    position: relative;
}
.back {
    
    padding: 80px 80px 80px 80px;
    
}
.pc {
    width: 400px ;
    height: 400px;
    background-color: #BCD1FF;
    border-bottom-left-radius:16px ;
    border-top-left-radius: 16px;
   
    
}
.social {
    width: 400px ;
    height: 400px;
    background: linear-gradient(to bottom right, #f396b9 0%, #fed083 100%);
    border-bottom-left-radius:16px ;
    border-top-left-radius: 16px;
    margin-bottom: 64px;
}


.business {
    width: 400px ;
    height: 400px;
    background-color: #D2EBF7;
    border-bottom-left-radius:16px ;
    border-top-left-radius: 16px;
}

.p1 { 
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #6E798C;
    position: absolute;
    top: 32px;
    bottom:341px;
    right:424px;
    left: 435x;
}

.p2 {
    font-family: 'Open Sans', sans-serif;
   
    font-size: 18px;
    color: #6E798C;
    position: absolute;
    top: 33px;
    bottom:342px;
    right:40px;
    left:872px;
}

h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    color: #081F32;
    position: absolute;
    top: 84px;
    bottom:224px;
    right:40px;
    left:435px;
    font-weight: 400;
}
.p3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #374A59;
    position: absolute;
    top: 191px;
    bottom:101px;
    right:40px;
    left:435px;

}
.pp {
    position: absolute;
    top: 324px;
    bottom:32px;
    right:523px;
    left:435px;
}
.name {
    position: absolute;
    top: 334px;
    bottom:41px;
    right:392px;
    left:491px;
    color: #007AE9;
}

.read {
    
    position: absolute;
    top: 334px;
    bottom:41px;
    right:334px;
    left:848px;
    color: #007AE9;


}

.pm1 {

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #6E798C;
    position: absolute;
    top: 32px;
    bottom:341px;
    right:503px;
    left: 435x;
}
.pm2 {
    font-family: 'Open Sans', sans-serif;
   
    font-size: 18px;
    color: #6E798C;
    position: absolute;
    top: 33px;
    bottom:342px;
    right:40px;
    left:862px;
}

.pb1 {
    font-family: 'Open Sans', sans-serif;
   
    font-size: 18px;
    color: #6E798C;
    position: absolute;
    top: 32px;
    bottom:340.99px;
    right:473px;
    left:435px;
}

.pb2 {
    font-family: 'Open Sans', sans-serif;
   
    font-size: 18px;
    color: #6E798C;
    position: absolute;
    top: 33px;
    bottom:342px;
    right:40px;
    left:855px;
}

.pb3 {
    width: 527px;
    height: 92px;
    font-family: 'Open Sans', sans-serif;
   font-size: 18px;
    color: #6E798C;
    position: absolute;
    top: 191px;
    bottom:101px;
    right:40px;
    left:435px;
}

 .h4 {
    width: fit-content;
}

